{{page-title "TestRenderTable"}}

{{!-- The following component displays Ember's default welcome message. --}}
{{!-- <WelcomePage /> --}}
{{!-- Feel free to remove this! --}}
<div id="root">
  <div class="jss1">
    <div class="jss2">
      <div class="jss3">
        <div class="jss4">
          <div class="jss122">
            <div class="jss139">
              <div class="jss181">
                <div class="jss182">
                  <div>
                    {{outlet}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>